[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PiDeck
Comment=Go nuts!
Exec=/usr/share/pideck/pideck
Icon=application.png
Terminal=false
Categories=AudioVideo;Audio;Player;
