Source: pideck
Section: sound
Priority: extra
Maintainer: Daniel James <daniel@64studio.com>
Uploaders:
 Daniel James <daniel@64studio.com>,
 Chris Obbard <chris@64studio.com>
Build-Depends:
Standards-Version: 3.9.8
Homepage: http://www.pideck.com/
Vcs-Git: https://github.com/pideck/pideck.git
Vcs-Browser: https://github.com/pideck/pideck

Package: pideck
Architecture: any
Depends:
 alsa-utils,
 flac,
 id3v2,
 jackd2,
 libsox-fmt-alsa,
 psmisc,
 python-gtk2,
 python-xlib,
 sox,
 vorbis-tools,
 wmctrl,
 xwax,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
Suggests:
Description: Setup scripts and touchscreen interface for PiDeck DVS
 This is a customisation package for the PiDeck project. It installs helper
 scripts and several packages required for a digital vinyl system as
 dependencies. Go nuts!
